<link rel="import" href="../../src/circle.html">
<link rel="import" href="draggable.behavior.html">
<template id="my-app">
	<link rel="stylesheet" href="draggable.behavior.css">
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
	<span draggable>Hello world!</span>
</template>
<script>
	class MyApp extends o.Element { }
	MyApp.reg;

</script>