<link rel="import" href="../../dist/circle.html">
<link rel="import" href="../../src/behavior/behavior.html">
<link rel="import" href="../../src/routes/routes.html">

<link rel="import" href="./routes/routes.html">
<link rel="import" href="./layout/my-header.component.html">
<link rel="import" href="./layout/my-footer.component.html">

<template id="my-app">
	<link rel="stylesheet" href="my-app.css">
	<my-header menu="[menu]" site-id="Fatfood" tagline="The cetogen food place."></my-header>
	<my-body></my-body>
	<my-footer></my-footer>
</template>


<script>
	o.di('routes').states = [{
			name: 'home',
			label: 'Home',
			url: './',
			component: 'my-home',
			default: true
		},
		{
			name: 'products',
			label: 'Products',
			url: './products',
			component: 'my-products'
		},
		{
			name: 'services',
			label: 'Services',
			url: './services',
			component: 'my-services'
		},
		{
			name: 'contact',
			label: 'Contact',
			url: './contact',
			component: 'my-contact'
		},
	];
	o.di('routes').title = 'FatFood';
	class MyApp extends o.Element {
		init() {

			this.model.menu = o.di('routes').states;
		}
	}
	MyApp.reg();
	class MyBody extends o.Element {
		init() {
			o.di('routes').register(this);
		}
	}
	MyBody.reg();

</script>
